!!!
%html
  %head
    %title Strapon a title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => params[:controller]}
    #container.container
      .row
        .twelve.columns
          - flash.each do |key, message|
            %div{:id => "flash_#{key}"}= message
          #main{:role => "main"}
            = yield
